@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/*https://developer.mozilla.org/ru/docs/Web/CSS/Universal_selectors */
/*https://itchief.ru/lessons/html-and-css/css-browser-prefixes (л. 29.04) */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "OpenSans-Regular", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  visibility: hidden;
  /*opacity: 0;*/
}

.container-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
}

.popup {
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
}

/*.popup::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-position: center;
}*/

.popup-close {
  position: absolute;
  right: 0;
  top: -30px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  font-size: 20px;
  font-family: sans-serif;
}

.container-visit {
  display: block;
  margin-bottom: 30px;
}

.popup-hint {
  display: block;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: OpenSans-Regular, Arial, Sans-serif;
  font-size: 13px;
  color: #000000;
}

.field-visit {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.container-radio {
  display: block;
  margin-bottom: 30px;
}

.popup-radio {
  display: none;
}

.radio-group-text {
  font-family: OpenSans-Regular, Arial, Sans-serif;
  font-size: 13px;
  color: #000000;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.popup-radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.container-text {
  display: block;
  margin-bottom: 25px;
}

.field-text {
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 130px;
  padding-top: 15px;
}

.button-popup {
  width: 100%;
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.header {
  box-sizing: border-box;
  width: 100%;
  background-color: #666666;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-content {
  position: relative;
  z-index: 2;
}

.logo-menu {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  display: block;
  position: relative;
  width: 23px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  text-indent: -9999px;
}

.menu-button::before,
.menu-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15%;
  background-color: #ffffff;
  left: 0;
}

.menu-button::before {
  top: 0;
}

.menu-button::after {
  bottom: 0;
}

.menu-button-label {
  width: 100%;
  height: 15%;
  margin-top: -7.5%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
}

.menu-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.menu-list-item {
  margin-left: 35px;
}

.menu-link {
  font-family: OpenSans-Regular, Arial, Sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
}

.menu-link:hover {
  text-decoration: underline;
}

.container-title {
  display: flex;
  justify-content: center;
}

.main-title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: OpenSans-Bold, Arial, Sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.title-section {
  margin-top: 0;
  text-align: center;
  font-family: OpenSans-Bold, Arial, Sans-serif;
  color: #0f0d0e;
  text-transform: uppercase;
}

.title-section::after {
  content: "";
  display: block;
  width: 66px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 3px solid #e1d9bd;
}

.in-trend {
  display: flex;
  justify-content: space-between;
}

.trend-article {
  position: relative;
  background-color: #666666;
}

.trend-article::before {
  content: "";
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img-trend {
  display: block;
  width: 100%;
  object-fit: cover;
}

.trend-content {
  position: absolute;
  z-index: 2;
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 0;
}

.tags-list-item {
  margin-right: 20px;
}

.tags-list-item:last-child {
  margin-right: 0;
}

.tag-link {
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
}

.tag-link:hover {
  text-decoration: underline;
}

.trend-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.trend-title-link {
  font-family: OpenSans-Bold, Arial, Sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.trend-title-link:hover {
  color: #b59f5b;
}

.page {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.article::after {
  content: "";
  display: block;
  margin-top: 20px;
  border-bottom: 3px solid #eeeeee;
}

.img-post {
  display: block;
  width: 100%;
}

.title-post {
  margin-top: 0;
  margin-bottom: 25px;
}

.title-link {
  font-family: OpenSans-Bold, Arial, Sans-serif;
  color: #0f0d0e;
  text-transform: uppercase;
}

.title-link:hover {
  color: #b59f5b;
}

.date-post {
  font-family: OpenSans-Regular, Arial, Sans-serif;
  font-size: 12px;
  color: #888888;
}

.author {
  margin-left: 5px;
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 12px;
  color: #000000;
}

.text-post {
  font-family: OpenSans-Regular, Arial, Sans-serif;
  color: #0f0d0e;
}

.paragraph {
  margin-top: 10px;
  margin-bottom: 0;
}

.email {
  margin-top: 55px;
}

.title-aside {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
  font-family: OpenSans-Bold, Arial, Sans-serif;
  color: #0f0d0e;
  text-transform: uppercase;
}

.title-aside::after {
  content: "";
  display: block;
  width: 66px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 3px solid #e1d9bd;
}


/* что я делаю не так уже какой раз?.. */
/* отступ со второго элемента; 
но почему берутся все? 
у них один уровень вложенности new-post */

.new-post:nth-child(n + 2) {
  display: flex;
  margin-top: 20px;
}

/* этот вариант тоже не работает: */
/*.new-post:first-child {
  display: flex;
  margin-top: 0px;
}
.new-post {
  display: flex;
  margin-top: 20px;
}*/

/* худший из варинтов */
/*.new-post-first {
  display: flex;
  margin-top: 0px;
}
.new-post {
  display: flex;
  margin-top: 20px;
}*/

.new-post-img {
  width: 70px;
}

.new-post-content {
  margin-left: 20px;
}

.new-post-title {
  margin-top: 2px;
  margin-bottom: 0;
}

.new-post-link {
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 14px;
  line-height: 1.29rem;
  color: #000000;
  text-transform: uppercase;
}

.new-post-link:hover {
  color: #b59f5b;
}

.search {
  display: flex;
  margin-top: 55px;
}

.form-search {
  flex-grow: 1;
}

.text-hint {
  display: none;
}

.field {
  box-sizing: border-box;
  height: 48px;
  border: 1px solid #f4f7f6;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f4f7f6;
  font-family: OpenSans-Regular, Arial, Sans-serif;
  font-size: 13px;
  color: #757575;
}

.field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}

.field-search {
  width: 100%;
}

.button {
  height: 48px;
  border: none;
  background-color: #b59f5b;
}

.button:hover {
  background-color: #323232;
}

.button-search {
  width: 48px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.field-mail {
  width: 100%;
}

.button-mail {
  width: 100%;
  margin-top: 20px;
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.tags-aside-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.tags-aside-list-item {
  margin-right: 5px;
  margin-bottom: 5px;
  border: 3px solid #eeeeee;
  padding-top: 3px;
  padding-right: 14px;
  padding-bottom: 3px;
  padding-left: 14px;
}

.tags-aside-list-item:last-child {
  margin-right: 0;
}

.tag-aside-link {
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 12px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.tags-aside-list-item:hover {
  border: 3px solid #b59f5b;
}

.categories-list {
  margin: 0;
  padding: 0;
}

.categories-list-item {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}

.categories-link {
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 14px;
  color: #000000;
}

.categories-link:hover {
  color: #b59f5b;
}

.count {
  vertical-align: super;
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 12px;
  color: #b59f5b;
}

.shop {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

.products {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.product {
  width: 345px;
  padding: 25px 20px 15px;
}

.product-content {
  position: relative;
  border: 3px solid rgba(181, 159, 91, 0.6);
  padding: 50px 17px 20px;
  margin: -35px -20px 0;
}

.container-img-shop {
  box-sizing: border-box;
  z-index: -1;
}

.img-shop {
  display: block;
  width: 100%;
}

.product-title {
  margin-top: 8px;
  margin-bottom: 5px;
  font-family: OpenSans-Bold, Arial, Sans-serif;
  color: #0f0d0e;
  text-transform: uppercase;
}

.paragraph-product {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: OpenSans-Regular, Arial, Sans-serif;
  font-size: 15px;
  line-height: 1.47rem;
  color: #0f0d0e;
}

.text-link {
  color: #b59f5b;
}

.text-link:hover {
  text-decoration: underline;
}

.price-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.old-price {
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-decoration: line-through;
}

.new-price {
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 20px;
  color: #0f0d0e;
}

.shop-link {
  background-color: #b59f5b;
  padding: 15px 25px;
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.shop-link:hover {
  background-color: #323232;
}

.footer {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

.socials-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  background-color: #f4f7f6;
}

.socials-list-item {
  margin-left: 20px;
}

.socials-link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.twitter {
  background-image: url("../svg/004-twitter.svg");
}

.pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.instagram {
  background-image: url("../svg/005-instagram.svg");
}

.tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.socials-link-text {
  display: none;
}

.copyright {
  text-align: center;
}

.copyright-link {
  font-family: OpenSans-Bold, Arial, Sans-serif;
  font-size: 12px;
  color: #999999;
}

@media (min-width: 1200px) {
  .header {
    background-image: url("../images/banner-bg.jpg");
  }

  .header-content {
    padding-top: 30px;
    padding-bottom: 125px;
  }

  .logo-menu {
    max-width: 1200px;
    margin-right: auto;
    margin-bottom: 95px;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .logo {
    width: 185px;
  }

  .menu-button {
    display: none;
  }

  .main-title {
    width: 680px;
    font-size: 45px;
    line-height: 1.67;
  }

  .trends {
    margin-top: 55px;
  }

  .title-section {
    margin-bottom: 25px;
    font-size: 20px;
  }

  .in-trend {
    flex-wrap: nowrap;
  }

  .trend-article {
    width: 25%;
  }

  .trend-article:nth-child(n + 2) {
    margin-left: 5px;
  }

  .img-trend {
    height: 320px;
  }

  .trend-content {
    right: 20px;
    bottom: 15px;
    left: 20px;
    padding: 40px 35px;
  }

  .trend-title-link {
    font-size: 20px;
    line-height: 1.2rem;
  }

  .page {
    max-width: 1200px;
    margin-top: 65px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .articles {
    width: 780px;
  }

  .article {
    display: flex;
  }

  .article::after {
    display: none;
  }

  .article:nth-of-type(n + 2) {
    margin-top: 60px;
  }

  .container-img-post {
    width: 380px;
  }

  .img-post {
    width: 380px;
  }

  .content-post {
    margin-left: 30px;
  }

  .title-post {
    margin-bottom: 25px;
  }

  .title-link {
    font-size: 20px;
    line-height: 1.2rem;
  }

  .date-author {
    margin-bottom: 40px;
  }

  .text-post {
    font-size: 15px;
    line-height: 1.47rem;
  }

  .other {
    width: 272px;
  }

  .title-aside {
    font-size: 14px;
  }

  .tags-aside {
    margin-top: 55px;
  }

  .categories {
    margin-top: 55px;
  }

  .shop {
    max-width: 1200px;
    margin-top: 55px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .product {
    width: 345px;
    padding: 25px 20px 15px;
  }

  .container-img-shop {
    width: 300px;
  }

  .product-title {
    font-size: 20px;
    line-height: 1.2rem;
    margin-top: 8px;
  }

  .footer {
    max-width: 1200px;
    margin-top: 65px;
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 15px;
  }

  .socials-list {
    max-width: 1170px;
    margin-bottom: 70px;
  }

  .popup {
    width: 390px;
    padding: 50px 30px;
  }

  .popup::before {
    top: -30px;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }

  .radio-group:nth-of-type(n + 2) {
    margin-left: 15px;
  }

  .radio-group-text::before {
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .header-content {
    padding-top: 40px;
    padding-bottom: 110px;
  }

  .logo-menu {
    margin-bottom: 95px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .logo {
    width: 155px;
  }

  .menu-list {
    display: none;
  }

  .main-title {
    width: 610px;
    font-size: 40px;
    line-height: 1.37;
  }

  .trends {
    margin-top: 50px;
  }

  .title-section {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .in-trend {
    flex-wrap: wrap;
  }

  .trend-article {
    width: 49.7%;
  }

  .trend-article:nth-child(n + 3) {
    margin-top: 0.6%;
  }

  .img-trend {
    height: 247px;
  }

  .trend-content {
    right: 20px;
    bottom: 15px;
    left: 20px;
    padding: 35px 30px;
  }

  .trend-title-link {
    font-size: 17px;
    line-height: 1.29rem;
  }

  .page {
    margin-top: 50px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .articles {
    width: 56%;
  }

  .article {
    display: block;
  }

  .article:last-child::after {
    display: none;
  }

  .article:nth-child(n + 2) {
    margin-top: 40px;
  }

  .container-img-post {
    width: 100%;
  }

  .content-post {
    margin-top: 15px;
    margin-left: 0px;
  }

  .title-post {
    margin-bottom: 25px;
  }

  .title-link {
    font-size: 17px;
    line-height: 1.29rem;
  }

  .date-author {
    margin-bottom: 30px;
  }

  .text-post {
    font-size: 15px;
    line-height: 1.47rem;
  }

  .other {
    width: 39%;
  }

  .title-aside {
    font-size: 14px;
  }

  .tags-aside {
    margin-top: 55px;
  }

  .categories {
    margin-top: 55px;
  }

  .shop {
    margin-top: 50px;
    padding-right: 35px;
    padding-left: 35px;
  }

  .products {
    flex-wrap: wrap;
  }

  .product {
    width: 47.99%;
    padding: 25px 20px 15px;
  }

  .container-img-shop {
    width: 86.57%;
    right: 6.72%;
  }

  .product-title {
    font-size: 17px;
    line-height: 1.29rem;
    margin-top: 7px;
  }

  .footer {
    margin-top: 50px;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
  }

  .socials-list {
    margin-bottom: 50px;
  }

  .popup {
    width: 390px;
    padding: 50px 30px;
  }

  .popup::before {
    top: -35px;
    width: 25px;
    height: 25px;
    background-size: 25px;
  }

  .radio-group:nth-of-type(n + 2) {
    margin-left: 30px;
  }

  .radio-group-text::before {
    width: 26px;
    height: 26px;
    background-size: 25px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .in-trend {
    flex-wrap: nowrap;
  }

  .trend-article {
    width: 24.8%;
  }

  .trend-article:nth-of-type(n + 3) {
    margin-top: 0;
  }

  .trend-content {
    padding: 5% 5%;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile.jpg");
  }

  .header-content {
    padding-top: 30px;
    padding-bottom: 210px;
  }

  .logo-menu {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .logo {
    width: 270px;
    margin-top: 170px;
    margin-right: auto;
    margin-left: auto;
  }

  .menu-list {
    display: none;
  }

  .main-title {
    width: 280px;
    font-size: 26px;
    line-height: 1.38;
  }

  .trends {
    margin-top: 45px;
  }

  .title-section {
    margin-bottom: 25px;
    font-size: 16px;
  }

  .in-trend {
    display: block;
  }

  .trend-article:nth-child(n + 2) {
    margin-top: 3px;
  }

  .img-trend {
    height: 230px;
  }

  .trend-content {
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 30px 20px;
  }

  .trend-title-link {
    font-size: 16px;
    line-height: 1.25rem;
  }

  .page {
    display: block;
    margin-top: 45px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .article {
    display: block;
  }

  .article:nth-child(n + 2) {
    margin-top: 35px;
  }

  .content-post {
    margin-top: 15px;
    margin-left: 0px;
  }

  .title-post {
    margin-bottom: 15px;
  }

  .title-link {
    font-size: 16px;
    line-height: 1.25rem;
  }

  .date-author {
    margin-bottom: 15px;
  }

  .text-post {
    font-size: 14px;
    line-height: 1.43rem;
  }

  .other {
    margin-top: 45px;
  }

  .title-aside {
    font-size: 16px;
  }

  .tags-aside {
    margin-top: 45px;
  }

  .categories {
    margin-top: 40px;
  }

  .shop {
    margin-top: 45px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .products {
    display: block;
  }

  .product {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 25px 15px 15px;
  }

  .container-img-shop {
    width: 88.75%;
    right: 5.625%;
  }

  .product-title {
    font-size: 17px;
    line-height: 1.29rem;
    margin-top: 7px;
  }

  .footer {
    margin-top: 45px;
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 15px;
  }

  .socials-list {
    margin-bottom: 45px;
  }

  .popup {
    width: 330px;
    padding: 30px 25px;
  }

  .popup::before {
    top: -35px;
    width: 30px;
    height: 30px;
    background-size: 30px;
  }

  .radio-group:nth-of-type(n + 2) {
    margin-left: 30px;
  }

  .radio-group-text::before {
    width: 26px;
    height: 26px;
    background-size: 25px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .in-trend {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .trend-article {
    width: 49.7%;
  }

  .trend-article:nth-child(n + 2) {
    margin-top: 0;
  }

  .trend-article:nth-child(n + 3) {
    margin-top: 0.5%;
  }
}
